*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}
a:visited {
  color: #000000;
}

li {
  list-style-type: none;
}

.groupsections__functioning-btn {
  display: flex;
  width: 90%;
  margin-right: 30px;
  position: relative;
}
.groupsections__functioning-btn-number {
  position: absolute;
  top: 25px;
  left: -10px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
  color: #FFFFFF;
  background-color: #9356DC;
}
.groupsections__functioning-btn--content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 4px 10px -8px #000000;
  border-radius: 15px;
  transition: 0.3s;
}
.groupsections__functioning-btn--content:hover {
  background-color: #efe6fa;
}
.groupsections__functioning-btn--content:hover > i {
  color: #9356DC;
}
.groupsections__functioning-btn--content i {
  margin-right: 10%;
  color: rgb(120, 120, 120);
  font-size: 20px;
}

.card-restaurant {
  width: 95%;
  height: 250px;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 4px 10px -8px #000000;
  position: relative;
  transition: 0.3s;
}
.card-restaurant:hover {
  box-shadow: 0px 6px 14px -8px #000000;
}
.card-restaurant-img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-restaurant-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 25px;
  background-color: #99E2D0;
  color: #278870;
  border-radius: 3px;
  font-size: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.card-restaurant-new--hidden {
  visibility: hidden;
}
.card-restaurant-description {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.card-restaurant-description-txt {
  margin-left: 15px;
}
.card-restaurant-description .fa-heart {
  font-size: 25px;
  position: absolute;
  right: 30px;
  cursor: pointer;
}
.card-restaurant-description .fa-solid {
  background-image: linear-gradient(170deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s ease-out, background-image;
}
.card-restaurant-description .fa-solid:hover {
  z-index: 1;
  opacity: 1;
}

.item {
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 4px 10px -8px #000000;
  transition: 0.3s;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.item:hover {
  box-shadow: 0px 6px 14px -8px #000000;
}
.item__description {
  padding: 0 0 0 10px;
  line-height: 1.4em;
  overflow: hidden;
}
.item__description--name {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__description--details {
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item__price {
  margin-left: auto;
  margin-top: 25px;
  padding: 15px;
  font-weight: 700;
  flex-shrink: 0;
}
.item__animation-check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #99E2D0;
  margin-right: -80px;
  width: 80px;
  height: 100%;
  border-radius: 0 20px 20px 0;
  transition: margin-right 0.8s;
}
.item__animation-check .fa-circle-check {
  color: rgb(255, 255, 255);
  font-size: 20px;
  transform: rotate(-225deg);
  transition: transform 0.5s 0.3s;
}

.item:hover > .item__animation-check {
  margin-right: 0;
}
.item:hover > .item__animation-check .fa-circle-check {
  transform: rotate(0deg);
}

@-webkit-keyframes items-apparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes items-apparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animation-appear {
  -webkit-animation: items-apparition;
          animation: items-apparition;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animation-appear:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.animation-appear:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.animation-appear:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.animation-appear:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.animation-appear:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media screen and (min-width: 992px) {
  .animation-appear {
    display: flex;
    flex-direction: row;
    height: 500px;
  }
  .animation-appear:nth-child(1) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .animation-appear:nth-child(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .animation-appear:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .animation-appear:nth-child(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .animation-appear:nth-child(5) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}
.dishes-list .cmd-btn {
  width: 180px;
  height: 50px;
  margin: 0 auto;
  margin-top: 55px;
  background: linear-gradient(170deg, #9356DC, #FF79DA);
  color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 6px 20px -8px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.dishes-list .cmd-btn:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 30px -8px #000000;
}
.dishes-list .cmd-btn:visited {
  color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  .dishes-list .cmd-btn {
    width: 350px;
    height: 50px;
    margin: 0 auto;
    margin-top: 55px;
    background: linear-gradient(170deg, #9356DC, #FF79DA);
    color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 6px 20px -8px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-top: 50px;
  }
  .dishes-list .cmd-btn:hover {
    opacity: 0.8;
    box-shadow: 0px 8px 30px -8px #000000;
  }
  .dishes-list .cmd-btn:visited {
    color: #FFFFFF;
  }
  .dishes-list .specialparameter-6 {
    margin-top: 10px;
  }
}
header {
  width: 100%;
  height: 60px;
  position: relative;
}
header .header__main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 190px;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .fa-arrow-left {
  font-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 18px;
}
header .header__main-title {
  width: 190px;
}

.location {
  width: 100%;
  background-color: rgb(226, 224, 224);
  height: 45px;
  box-shadow: inset 0 2px 4px rgb(180, 180, 180);
}
.location__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}
.location__txt .fa-location-dot {
  margin-right: 7%;
}

.groupsections {
  width: 100%;
  height: 720px;
}
.groupsections__concept {
  min-height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: rgb(246, 246, 246);
}
.groupsections__concept-title {
  margin: 0 auto;
  width: 60%;
  word-break: keep-all;
}
.groupsections__concept-description {
  margin: 0 auto;
  font-weight: 300;
  font-size: 18px;
  margin-top: 20px;
  width: 60%;
  word-break: keep-all;
}
.groupsections__concept-btn {
  width: 220px;
  height: 50px;
  margin: 0 auto;
  margin-top: 55px;
  background: linear-gradient(170deg, #9356DC, #FF79DA);
  color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 6px 20px -8px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.groupsections__concept-btn:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 30px -8px #000000;
}
.groupsections__concept-btn:visited {
  color: #FFFFFF;
}

.groupsections__functioning {
  width: 100%;
  height: 420px;
  margin-left: 20px;
  padding-top: 35px;
}
.groupsections__functioning-title {
  margin-bottom: 30px;
}
.groupsections__functioning-wrapper {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .groupsections {
    display: flex;
    height: 400px;
  }
  .groupsections__concept {
    max-height: 350px;
    padding-top: 90px;
    background-color: rgb(255, 255, 255);
  }
  .groupsections__concept-btn {
    width: 220px;
    height: 50px;
    margin: 0 auto;
    margin-top: 40px;
    background: linear-gradient(170deg, #9356DC, #FF79DA);
    color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 6px 20px -8px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .groupsections__concept-btn:hover {
    opacity: 0.8;
    box-shadow: 0px 8px 30px -8px #000000;
  }
  .groupsections__concept-btn:visited {
    color: #FFFFFF;
  }
  .groupsections__functioning-title {
    text-align: center;
  }
}
.list-restaurants {
  width: 100%;
  height: 1230px;
  background-color: rgb(240, 240, 240);
}
.list-restaurants__title {
  padding-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.list-restaurants__wrapper {
  height: 1070px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .list-restaurants {
    height: 700px;
  }
  .list-restaurants__title {
    margin: 0 0 20px 30px;
  }
  .list-restaurants__wrapper {
    height: 540px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 100%;
  }
  .list-restaurants__wrapper .card-restaurant {
    width: 46%;
  }
}
footer {
  background-color: rgb(40, 40, 40);
  width: 100%;
  height: 200px;
  color: rgb(240, 240, 240);
}
footer .footer-wrapper {
  margin-left: 20px;
  padding-top: 20px;
}
footer .footer-wrapper h1 {
  font-family: "Shrikhand", cursive;
  font-size: 19px;
}
footer .footer-wrapper a {
  color: rgb(240, 240, 240);
}
footer .footer-wrapper ul {
  line-height: 1.6em;
}
footer .footer-wrapper i {
  margin-right: 7px;
}
footer .footer-wrapper .fa-handshake-angle {
  font-size: 14px;
  width: 14px;
}

.specialparameter-4 {
  padding-top: 100px;
  height: 200px;
}

.dishes-list {
  width: 100%;
  height: 1550px;
  position: relative;
}
.dishes-list__imgcover {
  width: 100%;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dishes-list__dishes-wrapper {
  width: 100%;
  height: 1250px;
  padding: 0 20px;
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: absolute;
  top: 300px;
}
.dishes-list__dishes-wrapper .dishes-wrapper__title {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-family: "Shrikhand", cursive;
}
.dishes-list__dishes-wrapper .dishes-wrapper__title .fa-heart {
  font-size: 25px;
  position: absolute;
  right: 30px;
  cursor: pointer;
}
.dishes-list__dishes-wrapper .dishes-wrapper__title .fa-solid {
  background-image: linear-gradient(170deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s ease-out, background-image;
}
.dishes-list__dishes-wrapper .dishes-wrapper__title .fa-solid:hover {
  z-index: 1;
  opacity: 1;
}
.dishes-list__dishes-wrapper .dishes-wrapper__items {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dishes-list__dishes-wrapper .dishes-wrapper__items h3 {
  margin: 50px 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.dishes-list__dishes-wrapper .dishes-wrapper__items h3::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 21px;
}
.dishes-list__dishes-wrapper .specialparameter-2 {
  height: 410px;
}

.specialparameter-3 {
  height: 1650px;
}

.specialparameter-1 {
  height: 1350px;
}

@media screen and (min-width: 992px) {
  .dishes-list {
    height: 900px;
  }
  .dishes-list__dishes-wrapper {
    height: 600px;
  }
  .dishes-list .specialparameter-1 {
    height: 650px;
  }
  .specialparameter-3 {
    height: 950px;
  }
  .all-items {
    display: flex;
    justify-content: space-between;
    height: 350px;
    width: 100%;
  }
  .all-items .dishes-wrapper__items {
    width: 32%;
  }
  .all-items .dishes-wrapper__items h3 {
    margin-bottom: 30px;
  }
  .all-items .dishes-wrapper__items .item__description {
    width: 100%;
    transition: 0.5s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .specialparameter-5 {
    height: 450px;
  }
}/*# sourceMappingURL=main.css.map */