*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}
a:visited {
  color: #000000;
}

li {
  list-style-type: none;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .fa-arrow-left {
  font-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 18px;
}
header .header__main-title {
  width: 190px;
}

.dishes-list {
  width: 100%;
  height: 1550px;
  position: relative;
}
.dishes-list__imgcover {
  width: 100%;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dishes-list__dishes-wrapper {
  width: 100%;
  height: 1250px;
  padding: 0 20px;
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: absolute;
  top: 300px;
}
.dishes-list__dishes-wrapper .dishes-wrapper__title {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-family: "Shrikhand", cursive;
}
.dishes-list__dishes-wrapper .dishes-wrapper__title .fa-heart {
  font-size: 25px;
  position: absolute;
  right: 30px;
  cursor: pointer;
}
.dishes-list__dishes-wrapper .dishes-wrapper__title .fa-solid {
  background-image: linear-gradient(170deg, #FF79DA 0%, #FF79DA 4%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 0;
  opacity: 0;
  transition: all 0.5s ease-out, background-image;
}
.dishes-list__dishes-wrapper .dishes-wrapper__title .fa-solid:hover {
  z-index: 1;
  opacity: 1;
}
.dishes-list__dishes-wrapper .dishes-wrapper__items {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dishes-list__dishes-wrapper .dishes-wrapper__items h3 {
  margin: 50px 0 10px 0;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.dishes-list__dishes-wrapper .dishes-wrapper__items h3::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 21px;
}
.dishes-list__dishes-wrapper .specialparameter-2 {
  height: 410px;
}

.specialparameter-3 {
  height: 1650px;
}

.specialparameter-1 {
  height: 1350px;
}

.item {
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 4px 10px -8px #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  overflow: hidden;
}
.item:hover {
  box-shadow: 0px 6px 14px -8px #000000;
}
.item__description {
  width: 90%;
  padding: 10px;
  line-height: 1.4em;
}
.item__description--name {
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}
.item__description--details {
  font-size: 16px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}
.item__animation-check {
  display: flex;
  justify-content: space-between;
  width: 160px;
  height: 70px;
  margin-right: -80px;
  transition: margin-right 0.8s;
}
.item__animation-check .animation-check__price {
  font-weight: bold;
  margin-top: 35px;
  width: 80px;
  text-align: center;
}
.item__animation-check .animation-check__icon {
  font-size: 20px;
  color: #FFFFFF;
  background-color: #99E2D0;
  width: 80px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.item__animation-check .animation-check__icon .fa-circle-check {
  transform: rotate(-225deg);
  transition: transform 0.5s 0.3s;
}

.item:hover > .item__animation-check {
  margin-right: 0;
}
.item:hover > .item__animation-check .fa-circle-check {
  transform: rotate(0deg);
}

@-webkit-keyframes items-apparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes items-apparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animation-appear {
  -webkit-animation: items-apparition;
          animation: items-apparition;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animation-appear:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.animation-appear:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.animation-appear:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.animation-appear:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.dishes-list .cmd-btn {
  width: 180px;
  height: 50px;
  margin: 0 auto;
  margin-top: 55px;
  background: linear-gradient(170deg, #FF79DA 0%, #FF79DA 4%, #9356DC 100%);
  color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0px 6px 20px -8px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.dishes-list .cmd-btn:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 30px -8px #000000;
}
.dishes-list .cmd-btn:visited {
  color: #FFFFFF;
}

footer {
  background-color: rgb(40, 40, 40);
  width: 100%;
  height: 200px;
  color: rgb(240, 240, 240);
}
footer .footer-wrapper {
  margin-left: 20px;
  padding-top: 20px;
}
footer .footer-wrapper h1 {
  font-family: "Shrikhand", cursive;
  font-size: 19px;
}
footer .footer-wrapper a {
  color: rgb(240, 240, 240);
}
footer .footer-wrapper ul {
  line-height: 1.6em;
}
footer .footer-wrapper i {
  margin-right: 7px;
}
footer .footer-wrapper .fa-handshake-angle {
  font-size: 14px;
  width: 14px;
}

.specialparameter-4 {
  padding-top: 100px;
  height: 200px;
}/*# sourceMappingURL=menu.css.map */